body {
	background-color: #FAFAFA;
	font-family: 'Raleway', sans-serif;
}

section {
	height: 100%;
}

.menu li {
	margin-left: 4%;
}

.redBG{
	background-color: #87191b;
	height: 100%;
}

.whiteBG {
	background-color: #FFFFFF;
	height: 100%;
}

.blackBG {
	background-color: #000000;
	height: 100%;
}

.favicon img{
	width:60px;
}

.hello {
	font-size: 150px;
	color: #FAFAFA;
	text-align: center;
}

.horizontal-center {
	text-align: center;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }

.social i{
	color: #000000;
    font-size: 60px;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.copyright {
	color: #848484;
	margin-bottom: 0%;
	margin-right: 5px;
	float: right;
}


/*Responsive corrections*/
@media only screen and (max-width: 1300px) {

	section {
		height: 120%;
	}

	.favicon img{
		width:50px;
	}

	.hello {
		font-size: 60px;
		font-weight: bold;
	}

}