body {
	background-color: #FAFAFA;
	font-family: 'Raleway', sans-serif;
}

.banner {
	background-image: url("../img/banner.jpg");
	background-repeat: no-repeat;
  	background-attachment: fixed; 
	background-size: cover;

	height: 100%;
}

.studentBG {
	/*background-color: #E6E6E6;*/

	height: 100%;
}

.livingBG {
	background-image: url("../img/milan.jpg");
	background-repeat: no-repeat;
  	background-attachment: fixed; 
	background-size: cover;

	height: 100%;
}

.contactme {
	margin-top: 5%;
	margin-bottom: 5%;
}

.textInMiddle {
	margin-top: 60%;
	text-align: center;
}

li {
	margin-left: 4%;
}