body {
	background-color: #FAFAFA;
	font-family: 'Raleway', sans-serif;
}

section {
	height: 100%;
}

.menu li {
	margin-left: 4%;
}

.redBG{
	background-color: #87191b;
	height: 100%;
}

.whiteBG {
	background-color: #FFFFFF;
	height: 100%;
}

.whiteBG img {
	height: 50%;
}

.blackBG {
	background-color: #000000;
	height: 100%;
}

.blackBG img {
	height: 50%;
}

.favicon img{
	width:60px;
}

.hello {
	color: #FAFAFA;
	text-align: center;
}

.hello h1{
	font-size: 150px;
}

.horizontal-center {
	text-align: center;
}

.social i{
	color: #000000;
    font-size: 60px;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.copyright {
	color: #848484;
	margin-bottom: 0%;
	margin-right: 5px;
	float: right;
}


/*Responsive corrections*/
@media only screen and (max-width: 1300px) {

	section {
		height: 120%;
	}

	.favicon img{
		width:50px;
	}

	.hello h1{
		font-size: 90px;
	}

	.whiteBG img {
		height: 60%;
	}

	.blackBG img {
		height: 60%;
	}

}

@media only screen and (max-width: 750px) {

	section {
		height: 120%;
	}

	.favicon img{
		width:50px;
	}

	.hello h1{
		font-size: 40px;
	}

	.whiteBG img {
		height: 50%;
	}

	.blackBG img {
		height: 50%;
	}

}

@media only screen and (max-width: 450px) {

	section {
		height: 120%;
	}

	.favicon img{
		width:50px;
	}

	.hello h1{
		font-size: 40px;
	}

	.whiteBG img {
		height: 50%;
	}

	.blackBG img {
		height: 50%;
	}

}